.main {
    @include vw-pc(padding, 100 0);
    box-sizing: border-box;
    text-align: center;

    &-title {
        @include vw-font-size-pc(62);
        font-weight: bold;
        @include vw-pc(line-height, 80);
    }

    &-desc {
        @include vw-pc(margin-top, 12);
        @include vw-pc(line-height, 32);
        @include vw-font-size-pc(20);
    }

    &-btn {
        @include vw-pc(margin-top, 30);
    }
}

.client {
    &-banner {
        &-slide {
            width: 100%;
            overflow: hidden;

            &+& {
                @include vw-pc(margin-top, 27);
            }

            &--left {
                .client-banner-slide__inner {
                    animation: bannermoveleft 80s linear infinite alternate-reverse;
                }
            }
            &--right {
                .client-banner-slide__inner {
                    animation: bannermoveright 80s linear infinite alternate-reverse;
                }
            }

            &__inner {
                position: relative;
                display: flex;
                width: 100%;
                @include vw-pc(height, 63);
            }
        }
    }
    &-img{
        &__list {
            position: relative;
            @include vw-pc(margin-top, 38);
            font-size: 0;

            &+& {
                margin-top: 0;
            }
        }
        &__item {
            display: inline-block;
            vertical-align: top;
            &--turn01 {
                position: absolute;
                @include vw-pc(top, -309);
                @include vw-pc(right, -32);
                @include vw-pc(width, 420);
            }

            &--turn02 {
                @include vw-pc(width, 424);
                @include vw-pc(margin-left, -17);
                @include vw-pc(padding-top, 40);
            }
            &--turn03 {
                @include vw-pc(margin-left, -75);
                @include vw-pc(width, 688);
                z-index: 1;
            }
            &--turn04 {
                @include vw-pc(width, 420);
                @include vw-pc(margin-top, -120);
                @include vw-pc(margin-left, -17);
            }
            &--turn05 {
                position: absolute;
                @include vw-pc(width, 957);
                @include vw-pc(bottom, 0);
                @include vw-pc(right, 0);
            }
        }
    }
}

@keyframes bannermoveleft {
    from {
        left: 0px;
    }
    to {
        @include vw-pc(left, -3000);
    }
}

@keyframes bannermoveright {
    from {
        @include vw-pc(left, -3000);
    }
    to {
        left: 0px;
    }
}